{% extends "base.html" %}
{% block content %}
<div class="container padding-top">
  <h1> How would you like us to change the course?</h1>
  <form method="POST">
    <div class="form-group">
        <label for="name">Would you like to change the title?</label>
        <input type="text" class="form-control" id="name" name="name" value="{{ course.name }}" required>
    </div>
    <div class="form-group">
        <label for="difficulty_matrix">Would you like to change the difficulty?</label>
        <input type="text" class="form-control" id="difficulty_matrix" name="difficulty_matrix" value="{{ course.difficulty_matrix }}" required>
    </div>
    <div class="form-group">
        <label for="description">You can change the description here:</label>
        <textarea class="form-control" id="description" name="description" required>{{ course.description }}</textarea>
    </div>
    <div class="form-group">
        <label for="content">Feel free to modify the content here:</label>
        <textarea class="form-control" id="content" name="content" required>{{ course.content }}</textarea>
    </div>
    <div class="form-group" style="display:none">
        <label for="questions">Questions</label>
        <textarea class="form-control" id="questions" name="questions" required>{{ course.questions }}</textarea>
    </div>
    <button type="submit" class="btn btn-flat">Update Course</button>
  </form>
</div>
{% endblock %}
