{% extends "base.html" %}
{% block content %}
<body>
  <div class="background-image">
  <div class="main-container smaller-border">
    <div class="padding-top container">
        <h3>{{username}}'s personal hub</h3>
        <p>Time to start learning something new! New day new you.</p>
        <div class="list-group ">
            {% for course in courses %}
              <div class="padding-20">
              <a href="{{ url_for('main.view_course', id=course.id) }}" class="backgroundcolor list-group-item list-group-item-action">
                <div class="card-product-infos">

                  <h5 class="card-txt"><i class="fa-solid fa-book"></i>  {{ course.name }}</h2>
                  <p class="card-txt">{{ course.description[:100] }}...</p>
                  <small class="card-txt">{{ course.difficulty_matrix }}</small>
                </div>
              </a>
            </div>
            </div>
            {% else %}
                <p>No courses found.
            {% endfor %}
            <div class="container padding-40">
              <a href="{{ url_for('main.create_course') }}" class="btn btn-flat">Create a New Course</a>
            </div>
        </div>
      </div>
      </div>
  </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>

    </script>
  </body>
{% endblock %}
