{% extends "base.html" %}
{% block content %}
<div class="">
  <div class="banner" style="background-image: linear-gradient(rgb(0 0 0 / 13%), rgb(0 0 0 / 8%)), url(/static/images/old.jpg);">
    <div class="container">
      <h1><strong>Bridged</strong> code learning for an older generation!</h1>
      <p>You're never too old to learn something new! Coding is just another way to solve problems and create amazing things. Soon you'll be building something awesome</p>
      <a class="btn btn-flat" href="{{url_for('main.dashboard')}}">Discover</a>
    </div>
  </div>
  </div>
{% endblock %}
